body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Style the navigation bar */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Style the main content */
main {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style the card container */
.card {
    width: 300px;

    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    position: relative;
}

.card:hover {
    transform: scale(1.05);
}

/* Additional styles for card content */
.card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
}

/* Style for candidate name and vote count */
.card span {
    font-weight: bold;
    color: #007bff;
    /* Blue color for emphasis */
}

/* Style for candidate images */
.card img {
    width: 100%;
    height: 200px;
    /* Set a fixed height */
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input,
select {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #007BFF;
    text-decoration: none;
}

#vote-button {
    background-color: #4CAF50;
    /* Green color */
    color: white;
    /* Text color */
    padding: 10px 20px;
    /* Padding around the text */
    border: none;
    /* Remove button border */
    cursor: pointer;
    /* Add a pointer cursor on hover */
}

#vote-button:hover {
    background-color: #45a049;
    /* Darker green on hover */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
}

.main-content {
    flex: 4;
    padding: 20px;
}

.widget {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.aside {
    flex: 1;
    background-color: #87CEEB;
    /* Sky blue background */
    color: black;
    /* White text color */
    padding: 20px;
    overflow: hidden;
    max-width: 300px;
    transition: all 0.5s;
}



.header {
    background-color: #3498db;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}

.menu-links {
    display: flex;
    align-items: center;
}

.menu-links a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    transition: color 0.3s;
}

.menu-links a:hover {
    color: green;
}

.aside ul {
    list-style-type: none;
    padding: 0;
}

.aside ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.aside ul li i {
    margin-right: 10px;
}

.aside ul li span {
    display: inline;
    margin-right: 10px;
}

.aside ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s;
}

.aside ul li a:hover {
    color: green;
}


@media (max-width: 768px) {
    .aside {
        max-width: 0;
    }

    .aside-toggle+.aside ul li i {
        visibility: visible;
    }

    .aside-toggle+.aside ul li span {
        display: none;
    }
}

ul.messages {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

ul.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
}

ul.messages li.success {
    background-color: #4CAF50;
    color: #fff;
}

ul.messages li.error {
    background-color: #FF5722;
    color: #fff;
}

ul.messages li.info {
    background-color: #2196F3;
    color: #fff;
}

ul.messages li.warning {
    background-color: #FFC107;
    color: #000;
}